<section class="col-md-4">
    <header>
        <form id="toDo-form" ng-submit="TabController.addToDo()">
            <input id="new-toDo" class="form-control text-center input-lg" placeholder="Add to-do position" ng-model="TabController.userText" ng-disable="saving" />
        </form>
    <!--
    <div class="text-center">   
    <button class="btn btn-default"><a ng-click="TabController.onChangeTab('user')">Your tasks</a></button>
    <button class="btn btn-default"><a ng-click="TabController.onChangeTab('all')">All tasks</a></button>
    </div> 
    -->
    </header>
    <section>
        
        
            <div ng-repeat="todo in TabController.toDos | filter:TabController.statusFilter | filter:TabController.userFilter" class="list-group">
                <div class="list-group-item">
                <input data-toggle="toggle" ng-show="todo.user == TabController.user" type="checkbox" ng-model="todo.completed" ng-change="TabController.stopEditing(todo)">
                <span ng-hide="todo == TabController.editToDo" ng-dblclick="TabController.editToDo1(todo)">{{todo.title}}</span>
                <form ng-submit="TabController.stopEditing(todo)">
                <input ng-show="todo == TabController.editToDo" ng-model="todo.title" ng-blur="TabController.stopEdit1(todo)" autofocus />
                </form>
                <span>{{toDo.user}} </span>
                <button type="button" class="btn btn-warning" ng-show="todo.user == TabController.user" ng-click="TabController.removeToDo(todo)">remove task</button>
                </div>
            </div>
        
    </section>
</section>
<footer>
            <button type="button" class="btn btn-warning" id="toggle-all" ng-model="allMarked" ng-click="TabController.markAll()">Check all</button>
    
     	    <button type="button" class="btn btn-warning" ng-click="TabController.onChangeStatus('')">Wszystkie</button>
   
     	    <button type="button" class="btn btn-warning" ng-click="TabController.onChangeStatus('active')">Aktywne</button>

     	    <button type="button" class="btn btn-warning" ng-click="TabController.onChangeStatus('completed')">Zrealizowane</button>

     	    <button type="button" class="btn btn-warning" ng-click="TabController.clearAllCompleted()">Wyczyść zrealizowane</button>

 </footer>